version: 2.1
jobs:
  job1:
    docker:
      - image: golang:1.17  
    steps:
      - checkout
      - run:
          name: Run Go script
          command: echo hello  
          
  job2:
    docker:
      - image: golang:1.17  
    steps:
      - checkout
      - run:
          name: Run another Go script
          command: go run test.go
          
  job3:
    docker:
      - image: golang:1.17  
    steps:
      - checkout
      - run:
          name: Run another Go script
          command: echo I'm Batman
          
workflows:
  version: 2
  ak:
    jobs:
      - job1:
          filters:
            branches:
              only:
                - main
      - job2:
          requires:
            - job1
